<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <h1>Вітаємо Вас на освітній сторінці Центру інформаційних технологій</h1>
        <h2>Тут Ви маєте змогу ознайомитись з навчальними матеріаліми за напрямками мережевих технологій та кібербезпеки
        </h2>
    </header>
    <main>
        <h2 id="hello">{{hello}}</h2>
        <h3>Навчальні матеріали:</h3>
        <div class="container">
            <ul id="bookdata">
                {% for item in bookdata %}
                {% with item=item %}
                {% include "tree_node.html" %}
                {% endwith %}
                {% endfor %}
            </ul>
            <div class="content">
                <iframe id="viewer" src="" frameborder="0"></iframe>
            </div>
        </div>

    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            // Папки
            document.querySelectorAll(".folder").forEach(folder => {
                folder.addEventListener("click", () => {
                    const ul = folder.parentNode.querySelector("ul");
                    if (ul) ul.classList.toggle("hidden");
                });
            });

            // Файли
            document.querySelectorAll(".file").forEach(file => {
                file.addEventListener("click", () => {
                    const src = file.getAttribute("data-file");
                    const iframe = document.getElementById("viewer");
                    iframe.src = src;

                    iframe.onload = () => {
                        let doc = iframe.contentDocument;

                        // Додаємо CSS у HEAD iframe
                        const link = doc.createElement("link");
                        link.rel = "stylesheet";
                        link.href = "/static/css/styles.css";
                        doc.head.appendChild(link);
                    };
                });
            });

        });
    </script>

</body>
<footer>
    <p>&copy; 2025 Book Reader. All rights reserved.</p>
</footer>

</html>