<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reader</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Book Reader</h1>
    </header>
    <main>
        <h2>{{hello}}</h2>
        <h3>Available Books:{{bookdata}}</h3>
    </main>
    <footer>
        <p>&copy; 2025 Book Reader. All rights reserved.</p>
    </footer>
</body>
</html>