<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<li>
    {% if item.children %}
        <div class="folder">📁 {{ item.name }}</div>
        <ul class="hidden level">
            {% for child in item.children %}
                {% with item=child %}
                    {% include "tree_node.html" %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="file"
            data-file="{{ url_for('static', filename='books/' + item.fullpath) }}">
           📄 {{ item.name }}
        </div>
    {% endif %}
</li>
</body>
</html>