<li>
    {% if item.is_dir %}
        <div class="folder" data-path="{{ item.fullpath }}">{{ item.name }}</div>

        <ul class="hidden" id="node-{{ item.fullpath | replace('/', '_') }}">
            {# children == None → lazy, не показуємо нічого #}
            {% if item.children %}
                {% for child in item.children %}
                    {% include "tree_node.html" with context %}
                {% endfor %}
            {% endif %}
        </ul>

    {% else %}
        <div class="file" data-path="{{ item.fullpath }}">
            📄 {{ item.name }}
        </div>
        {#        <div class="file"#}
        {#             data-file="/book/{{ item.fullpath }}"#}
        {#             data-path="{{ item.fullpath }}">#}
        {#            📄 {{ item.name }}#}
        {#        </div>#}
    {% endif %}
</li>