<li>

    {% if item.children|length > 0 %}

        <div class="folder" data-name="{{ item.name }}">
            📁 {{ item.name }}
        </div>

        <ul class="hidden">
            {% for child in item.children %}
                {% with item=child %}
                    {% include "tree_node.html" %}
                {% endwith %}
            {% endfor %}
        </ul>

    {% else %}

        {% if item.name.endswith(".html") %}
            <div class="file"
                 data-file="{{ url_for('static', filename='books/' ~ item.fullpath) }}"
                 data-path="{{ item.fullpath }}">
                📄 {{ item.name }}
            </div>
        {% endif %}

    {% endif %}

</li>
